{% extends "base.twig" %}

{% block content %}
	<h1 class="heading__hero">Contact Us</h1>
	<div class="contact__content">
		<div class="contact__blurb">
			<p>{{post.get_field('content')}}</p>
		</div>
		<div class="contact__info">
			{% if options.address %}
				<p style="margin-bottom:10px">{{ options.address }}</p>

			{% endif %}
			{% if options.contact_phone_numbers %}
				<ul class="with__text-subtle">
					{% for item in options.contact_phone_numbers %}
						<li>
							<a href="tel:{{ item.number }}">
								<strong>{{ item.type }}:</strong>
								{{ item.number|format_phone_number }}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}

		</div>
	</div>
	<hr class="contact__rule">
	{% include "templates/facilities.twig" %}
	{% include "templates/contact.twig" %}
{% endblock %}
