{% extends "base.twig" %}

{% block content %}
	{% set hero = post.get_field('hero') %}
	<div class="home__hero">
		<h1>{{ hero.title }}</h1>
		<p>{{ hero.subtitle }}</p>
		<a href="/contact" class="action__blue">Contact Us</a>

		{# TODO: add slider or image field #}
	</div>

	<div class="home__productBlocks blocks">
		{% for p in post.get_field('main_products') %}
			{% set product = p.product[0] %}
			<div class="card card__product">
				<img src="{{ product.image }}" alt="Image of {{ product.post_title }}"/>
				<div class="card__product--meta">
					<h2>{{ product.post_title }}</h2>
					<a class="action__link" href="{{ product.link }}">Learn More</a>
				</div>
			</div>
		{% endfor %}

		<div class="card card__contact">
			<h2 class="heading__md">Looking for something?</h2>
			<div>
				<a href="/contact" class="action__green">Contact Us</a>
			</div>
		</div>
	</div>

	<div class="blocks"></div>

	{% include "templates/sustainability.twig" %}

{% endblock %}
