{% extends "base.twig" %}

{% block content %}
	<div class="history__hero">
		<div class="history__inner">

			<h1>{{ post.get_field('headline') }}</h1>


			<Section class="timeline-slider">
				{% for post in history %}
					<div class="timeline-slide next_slide">
						<div class="timeline-upper">
							<div class="timeline-upper__inner">
								<article>
									<a href="{{ post.link }}">
										<h2 id="year">{{post.year}}</h2>
										<h2>
											-
											{{ post.title }}</h2>
									</a>
									<p>{{post.description}}</p>

								</article>
								<img src="{{ Image(post.meta('image')).src }}" alt="">
							</div>
						</div>
						<div class="timeline-lower">
							<div class="timeline-lower__inner">
								<article>
									<h3>{{post.year}}</h3>
									<h3>{{post.title}}</h3>
									<p>{{post.description}}</p>
								</article>
							</div>
						</div>
					</div>


				{% endfor %}
			</Section>
		</div>

		<div
			class="wave" id="wave">{# <i class="fas fa-circle"></i>
																							<i class="fas fa-circle"></i>
																							<i class="fas fa-circle"></i>
																							<i class="fas fa-circle"></i>
																							<i class="fas fa-circle"></i> #}

		</div>
		<button class="prev">
			<i class="fas fa-chevron-left"></i>
		</button>

		<button class="next">
			<i class="fas fa-chevron-right"></i>
		</button>


	</div>


{% endblock %}
