{% extends "base.twig" %}

{% block content %}
	<div class="history__hero">
		<div class="left">
			<i class="fas fa-chevron-left prev"></i>
		</div>
		<div class="right">
			<i class="fas fa-chevron-right next"></i>
		</div>


		<div class="history__inner">

			<h1>{{ post.get_field('headline') }}</h1>


			<Section class="timeline-slider">
				{% for post in history %}
					<div class="timeline-slide next_slide">
						<div class="timeline-upper">
							<div class="timeline-upper__inner">
								<article>
									<a href="{{ post.link }}">
										<h3 id="year">{{post.year}}</h3>
										<h3>
											{{ post.title }}</h3>
									</a>
									<p>{{post.description}}</p>

								</article>
								<img src="{{ Image(post.meta('image')).src }}" alt="">
							</div>
						</div>
						<h2 id="mobile-year">{{post.year}}</h2>

						<div class="timeline-lower">
							<div class="timeline-lower__inner">
								<article>

									<h2 id="year">{{post.year}}</h2>
									<h3>{{post.title}}</h3>
									<p>{{post.description}}</p>
								</article>
							</div>
						</div>
					</div>


				{% endfor %}
			</Section>
		</div>


		<div class="wavecontainer">
			<div class="dotcontainer">

				<i class="fas fa-circle dot" id="dot1"></i>
				<i class="fas fa-circle dot" id="dot2">

					<div class="vl"></div>
				</i>
				<i class="fas fa-circle dot" id="dot3"></i>
			</div>
			<div class="stationary_wave"></div>
			<div class="wave background_mask" id="wave"></div>
		</div>


	</div>
	{% include "templates/contact.twig" %}


{% endblock %}
