{% extends "base.twig" %}

{% block content %}
	{% set hero = post.get_field('hero') %}
	<div class="home__hero">
		<h1>{{ hero.title }}</h1>
		<p>{{ hero.subtitle }}</p>
		<a href="/contact" class="action__blue">Contact Us</a>

		{# TODO: add slider or image field #}
	</div>

	<section class="home__productBlocks blocks">
		{% for p in post.get_field('main_products') %}
			{% set product = p.product[0] %}
			<div class="card card__product">
				<img src="{{ product.image }}" alt="Image of {{ product.post_title }}"/>
				<div class="card__product--meta">
					<h2>{{ product.post_title }}</h2>
					<a class="action__link" href="{{ product.link }}">Learn More</a>
				</div>
			</div>
		{% endfor %}

		<div class="card card__contact">
			<h2 class="heading__md">Looking for something?</h2>
			<div>
				<a href="/contact" class="action__green">Contact Us</a>
			</div>
		</div>
	</section>

	<section class="home__companyBlocks blocks">
		<article class="card card__company">
			<div class="card__company--image">
				<img src="{{ post.experience.icon }}" alt=""/>
			</div>
			<h2 class="home__companyBlocks--heading">
				<span class="text__strong">55+ YEARS OF</span>
				<span class="heading__lg">Experience</span>
			</h2>
			<p>{{ post.experience.description }}</p>
			<a class="action__black" href="/about">About Us</a>
		</article>
		<article class="card card__company">
			<div class="card__company--image">
				<img src="{{ post.innovation.icon }}" alt=""/>
			</div>
			<h2 class="home__companyBlocks--heading">
				<span class="text__strong">DRIVEN BY</span>
				<span class="heading__lg">Innovation</span>
			</h2>
			<p>{{ post.innovation.description }}</p>
			<a class="action__black" href="/whats-new">See What's New</a>
		</article>
		<article class="card card__company">
			<div class="card__company--image">
				<img src="{{ post.solutions.icon }}" alt=""/>
			</div>
			<h2 class="home__companyBlocks--heading">
				<span class="text__strong">TAILORED</span>
				<span class="heading__lg">Solutions</span>
			</h2>
			<p>{{ post.solutions.description }}</p>
			<a class="action__black" href="/contact">Contact Us</a>
		</article>
	</section>

	{% include "templates/sustainability.twig" %}

{% endblock %}
