{% extends "base.twig" %}

{% block content %}
	<div>
		<h1 class="careers__heading heading__hero">Careers</h1>

		<div class="content">
			{{ options.careers_summary|wpautop }}
		</div>

		<div class="careers__grid">
			{% for career in careers %}


				<details class="career">
					<summary class="career__summary">
						<h2 class="career__title">{{ career.title }}</h2>
						<p class="career__location">{{ career.location }}</p>
						<p class="career__description">{{ career.description|truncate(50, true)}}</p>
						<a href="{{ career.link }}" class="career__learn">Learn More</a>
					</summary>
				</details>
			{% endfor %}
		</div>
	</div>
	{% include "templates/contact.twig" %}


{% endblock %}
