{% extends "base.twig" %}

{% block content %}
	{% set hero = post.get_field('hero') %}
	<div class="home__hero">
		<h1>{{ hero.title }}</h1>
		<p>{{ hero.subtitle }}</p>
		<a href="/contact" class="action__blue">Contact Us</a>

		{# TODO: add slider or image field #}
	</div>

	<div class="home__productBlocks blocks">
		{% for p in post.get_field('main_products') %}
			{% set product = p.product[0] %}
			<div class="card card__product">
				<img src="{{ product.image }}" alt="Image of {{ product.post_title }}"/>
				<div class="card__product--meta">
					<h2>{{ product.post_title }}</h2>
					<a class="action__link" href="{{ product.link }}">Learn More</a>
				</div>
			</div>
		{% endfor %}

		<div class="card card__contact">
			<h2 class="heading__md">Looking for something?</h2>
			<div>
				<a href="/contact" class="action__green">Contact Us</a>
			</div>
		</div>
	</div>

	<div class="home__companyBlocks blocks">
		<div class="card card__company">
			<img src="{{ post.experience.icon }}" alt=""/>
			55+ YEARS OF
																		Experience
			<p>{{ post.experience.description }}</p>
			<a class="action__navy" href="/about">About Us</a>
		</div>
		<div class="card card__company">
			<img src="{{ post.innovation.icon }}" alt=""/>
			DRIVEN BY
																		Innovation
			<p>{{ post.innovation.description }}</p>
			<a class="action__navy" href="/whats-new">See What's New</a>
		</div>
		<div class="card card__company">
			<img src="{{ post.solutions.icon }}" alt=""/>
			TAILORED
																		Solutions
			<p>{{ post.solutions.description }}</p>
			<a class="action__navy" href="/contact">Contact Us</a>
		</div>
	</div>

	{% include "templates/sustainability.twig" %}

{% endblock %}
