{% extends "base.twig" %}

{% block content %}
	<h1 class="heading__hero">{{post.headline}}</h1>

	<p>{{ post.meta('content') }}</p>


	<div class="spec_page_hero"></div>
	<div class="spec__sheets">

		{% for i in post.get_field('spec_sheets') %}
			<div class="spec__cards">
				{% if i.pdf_image %}
					<img src="{{i.pdf_image.url}}" alt="{{i.pdf_image.alt}}">
				{% endif %}
				<div class="spec__cards--meta">
					{% if i.label %}
						<h3>{{i.label}}</h3>
					{% endif %}
					{% if i.link %}
						<button>
							<a href="{{i.link}}" class="action__green" target="_blank"/>Download</a>
					</button>
				{% endif %}
			</div>
		</div>
	{% endfor %}
</div>


{% include "templates/contact.twig" %}{% endblock %}
