{% extends "base.twig" %}

{% block content %}
	<div class="facilities_content">
		<div class="facilities_inner">
			<div class="intro">
				<h1 class="heading__hero">Facilities</h1>
				<p>{{post.meta('intro_text')}}</p>
			</div>
			{# Selection Box Filters #}
			<div class="facilities-form">
				<select name="map_location" id="map_location">
					<option value="">FILTER BY REGION</option>
					<option value="">ALL LOCATIONS</option>
					<option value="">--</option>
					<option value="US-ALL">UNITED STATES</option>
					<option value="US-CA">California</option>
					<option value="US-CO">Colorado</option>
					<option value="US-FL">Florida</option>
					<option value="US-IA">Iowa</option>
					<option value="US-KS">Kansas</option>
					<option value="US-IN">Indiana</option>
					<option value="US-MA">Massachusetts</option>
					<option value="US-MN">Minnesota</option>
					<option value="US-MS">Mississippi</option>
					<option value="US-MO">Missouri</option>
					<option value="US-NE">Nebraska</option>
					<option value="US-NC">North Carolina</option>
					<option value="US-OK">Oklahoma</option>
					<option value="US-PA">Pennsylvania</option>
					<option value="US-TX">Texas</option>
					<option value="US-UT">Utah</option>
					<option value="US-WA">Washington</option>
					<option value="US-WI">Wisconsin</option>
					<option value="">--</option>
					<option value="INT-ALL">INTERNATIONAL</option>
					<option value="INT-China">China</option>
					<option value="INT-Europe">Germany</option>
				</select>
				<select name="capabilities" id="capabilities">
					<option value>FILTER BY CAPABILITY</option>
					<option value>ALL CAPABILITIES</option>
					<option value="pouring">Pouring</option>
					<option value="fabrication">Fabrication</option>
					<option value="carpet-cushion">Carpet Cushion</option>
				</select>
				<select name="dc-select" id="dc-select">
					<option value>DISTRIBUTION CENTERS</option>
					<option value="filter">Filter by Distribution Centers</option>
					<option value="all">See All Distribution Centers</option>
				</select>
			</div>
			<div class="facility-us-title">
				<h2>UNITED STATES MAP</h2>
			</div>
		</div>
		{# Map & Dot Filters #}
		<div class="map-background">
			<div
				class="facility-us-map">
				<!-- Archdale -->
				<a href="#" class="city US-NC fabrication" data-city="archdale" style="left:85%; top:54.5%;">
					<div class="title">
						Archdale, NC</div>
					<div class="dot"></div>
				</a>
				<!-- Council Bluffs -->
				<a href="#" class="city US-IA corporate " data-city="council-bluffs" style="left:52.5%; top:37%;">
					<div class="title">
						Council Bluffs, IA</div>
					<div class="dot"></div>
				</a>
				<!-- Council Bluffs -->
				<a href="#" class="city US-IA distro " data-city="council-bluffs" style="left:52.5%; top:37%;">
					<div class="title">
						Council Bluffs, IA</div>
					<div class="dot"></div>
				</a>
				<!-- Council Bluffs -->
				<a href="#" class="city US-IA pouring  fabrication" data-city="council-bluffs" style="left:52.5%; top:37%;">
					<div class="title">
						Council Bluffs, IA</div>
					<div class="dot"></div>
				</a>
				<!-- Council Bluffs -->
				<a href="#" class="city US-IA distro " data-city="council-bluffs" style="left:52.5%; top:37%;">
					<div class="title">
						Council Bluffs, IA</div>
					<div class="dot"></div>
				</a>
				<!-- Dallas -->
				<a href="#" class="city US-TX fabrication" data-city="dallas" style="left:52.12%; top:69%;">
					<div class="title">
						Dallas, TX</div>
					<div class="dot"></div>
				</a>
				<!-- Dallas -->
				<a href="#" class="city US-TX carpet-cushion" data-city="dallas" style="left:52.12%; top:69%;">
					<div class="title">
						Dallas, TX</div>
					<div class="dot"></div>
				</a>
				<!-- Denver -->
				<a href="#" class="city US-CO fabrication" data-city="denver" style="left:36.12%; top:43%;">
					<div class="title">
						Denver, CO</div>
					<div class="dot"></div>
				</a>
				<!-- Elkhart -->
				<a href="#" class="city US-IN pouring  fabrication distro " data-city="elkhart" style="left:69%; top:33%;">
					<div class="title">
						Elkhart, IN</div>
					<div class="dot"></div>
				</a>
				<!-- Fairless Hills -->
				<a href="#" class="city US-PA carpet-cushion" data-city="fairless-hills" style="left:87.96%; top:33%;">
					<div class="title">
						Fairless Hills, PA</div>
					<div class="dot"></div>
				</a>
				<!-- Fullerton -->
				<a href="#" class="city US-CA pouring  carpet-cushion" data-city="fullerton" style="left:11%; top:64.5%;">
					<div class="title">
						Fullerton, CA</div>
					<div class="dot"></div>
				</a>
				<!-- Fullerton -->
				<a href="#" class="city US-CA fabrication" data-city="fullerton" style="left:11%; top:64.5%;">
					<div class="title">
						Fullerton, CA</div>
					<div class="dot"></div>
				</a>
				<!-- Tracy -->
				<a href="#" class="city US-CA distro " data-city="tracy" style="left:4.2%; top:43.75%;">
					<div class="title">
						Tracy, CA</div>
					<div class="dot"></div>
				</a>
				<!--  Hayward -->
				<a href="#" class="city US-CA fabrication" data-city="hayward" style="left:2.2%; top:43%;">
					<div class="title">
						Hayward, CA</div>
					<div class="dot"></div>
				</a>
				<!-- High Point -->
				<a href="#" class="city US-NC pouring" data-city="high-point" style="left:83.5%; top:53%;">
					<div class="title">
						High Point, NC</div>
					<div class="dot"></div>
				</a>
				<!-- Kansas City -->
				<a href="#" class="city US-MO fabrication distro " data-city="kansas-city" style="left:55.32%; top:45%;">
					<div class="title">
						Kansas City, MO</div>
					<div class="dot"></div>
				</a>
				<!-- Kansas City -->
				<a href="#" class="city US-MO distro " data-city="kansas-city" style="left:55.32%; top:45%;">
					<div class="title">
						Kansas City, MO</div>
					<div class="dot"></div>
				</a>
				<!-- Kent -->
				<a href="#" class="city US-WA pouring  fabrication distro " data-city="kent" style="left:8%; top:3%;">
					<div class="title">
						Kent, WA</div>
					<div class="dot"></div>
				</a>
				<!-- Mansfield -->
				<a href="#" class="city US-MA pouring" data-city="mansfield" style="left:93.72%; top:23%;">
					<div class="title">
						Mansfield, MA</div>
					<div class="dot"></div>
				</a>
				<!-- Middleton -->
				<a href="#" class="city US-WI pouring  fabrication  carpet-cushion" data-city="middleton" style="left:62.36%; top:27%;">
					<div class="title">
						Middleton, WI</div>
					<div class="dot"></div>
				</a>
				<!-- Middleton -->
				<a href="#" class="city US-WI fabrication  carpet-cushion" data-city="middleton" style="left:62.36%; top:27%;">
					<div class="title">
						Middleton, WI</div>
					<div class="dot"></div>
				</a>
				<!-- Minneapolis -->
				<a href="#" class="city US-MN distro " data-city="minneapolis" style="left:56.32%; top:22%;">
					<div class="title">
						Minneapolis, MN
					</div>
					<div class="dot"></div>
				</a>
				<!-- Newton -->
				<a href="#" class="city US-KS pouring" data-city="newton" style="left:49.56%; top:48%;">
					<div class="title">
						Newton, KS</div>
					<div class="dot"></div>
				</a>
				<!-- Oklahoma City -->
				<a href="#" class="city US-OK fabrication distro " data-city="oklahoma-city" style="left:49.56%; top:59%;">
					<div class="title">
						Oklahoma City, OK</div>
					<div class="dot"></div>
				</a>
				<!-- Omaha -->
				<a href="#" class="city US-NE fabrication" data-city="omaha" style="left:50.5%; top:37%;">
					<div class="title">
						Omaha, NE</div>
					<div class="dot"></div>
				</a>
				<!-- Orlando -->
				<a href="#" class="city US-FL carpet-cushion distro " data-city="orlando" style="left:81.48%; top:83%;">
					<div class="title">
						Orlando, FL</div>
					<div class="dot"></div>
				</a>
				<!-- Springfield -->
				<a href="#" class="city US-MO fabrication distro " data-city="springfield" style="left:57.88%; top:50%;">
					<div class="title">
						Springfield, MO</div>
					<div class="dot"></div>
				</a>
				<!-- Tupelo -->
				<a href="#" class="city US-MS pouring distro " data-city="tupelo" style="left:65%; top:63%;">
					<div class="title">
						Tupelo, MS</div>
					<div class="dot"></div>
				</a>
				<!-- West Valley City -->
				<a href="#" class="city US-UT fabrication distro " data-city="west-valley-city" style="left:21.4%; top:38%;">
					<div class="title">
						West Valley City, UT</div>
					<div class="dot"></div>
				</a>
				<img src="/wp-content/uploads/2022/02/USMap_1.svg" alt="US-Map"></div>
		</div>
		<div
			class="facilities_inner">
			{# Dynamic Generation of Locations From ACF #}
			<div class="facility-us-list">
				<h2 class="region">US Facilites</h2>
				<div class="facility-us-list-inner">
					{% for facility in facilities %}
						{% if facility.domestic_or_foreign == 'domestic' %}
							<div class="facility-city {{facility.city|lower}} {{facility.city_class}}">
								<div class="facility-location-list">
									<article class="facility-location {{facility.classes}} {% for capability in facility.capabilities %} {{capability}} {% endfor %} {{facility.distribution_center}}">
										<h2>{{facility.facility_name}}</h2>
										<div class="content">
											<div class="dot {% for capability in facility.capabilities %}{% if capability == 'corporate' %}{{capability}}{% endif %}{% endfor %}"></div>
											<div class="details">
												<p>{{facility.address}}</p>
												<p>{{facility.city|capitalize}},
													{{facility.state|upper}}
													{{facility.zip}}</p>
												<a href="{{facility.directions}}">Get Directions</a>
												{% if facility.mailing_address %}
													<br>
													<p>
														<span>Mailing Address:
														</span>
														{{facility.mailing_address}}</p>
													<br>
												{% endif %}
												<p>
													<span>Phone:</span>
													{{facility.contact_phone}}</p>
												{% if facility.toll_free %}
													<p>
														<span>Toll Free:</span>
														{{facility.toll_free}}</p>
												{% endif %}
												<p>
													<span>Email:</span>
													<a href="mailto:{{facility.contact_email}}">{{facility.contact_email}}</a>
												</p>

												{% if facility.capabilities != 'corporate' %}
													{% if facility.capabilities %}
														<p>
															<span>Capabilities:</span>
															{% for capability in facility.capabilities %}
																{{capability|capitalize ~ (not loop.last ? ', ')}}
															{% endfor %}
														</p>
													{% endif %}
												{% endif %}
												{% if facility.specialties %}
													<p>
														<span>Specialties:</span>
														{{facility.specialties}}</p>
												{% endif %}
											</div>
										</div>
									</article>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			{# Dynamic Generation of INT Locations From ACF #}
			<div class="facility-international-list">
				<h2>International Facilities</h2>
				{% for facility in facilities %}
					{% if facility.domestic_or_foreign == 'foreign' %}
						<div class="facility-country {{facility.city|lower}}">
							<div class="facility-location-list">
								{% if facility.city|lower == 'china' %}
									<img class="country" src="http://future-foam.local/wp-content/uploads/2022/03/map-china1.png">
								{% else %}
									<img class="country" src="/wp-content/uploads/2022/03/map-europe.png">
								{% endif %}
								<article class="facility-location {{facility.classes}} {% for capability in facility.capabilities %} {{capability}} {% endfor %} {{facility.distribution_center}}">
									<h2>{{facility.facility_name}}</h2>
									<p>{{facility.address}}
									</p>
									<p>{{facility.city|capitalize}}
										,
										{{facility.state|upper}}{{facility.zip}}
									</p>
									<a href="{{facility.directions}}">
										Get Directions</a>
									<p>
										<span>Phone:</span>
										{{facility.contact_phone}}</p>
									{% if facility.toll_free %}
										<p>
											<span>Toll Free:</span>
											{{facility.toll_free}}</p>
									{% endif %}
									<p>
										<span>Email:</span>
										<a href="mailto:{{facility.contact_email}}">{{facility.contact_email}}</a>
									</p>
									<p>
										<span>Capabilities:</span>
										{% for capability in facility.capabilities %}
											{{capability|capitalize ~ (not loop.last ? ', ')}}
										{% endfor %}
									</p>
									{% if facility.specialties %}
										<p>
											<span>Specialties:</span>
											{{facility.specialties}}</p>
									{% endif %}
								</article>
							</div>
						</div>
					{% endif %}
				{% endfor %}

			</div>
		</div>
		{% include "templates/contact.twig" %}
	</div>
{% endblock %}
