{% extends "base.twig" %}

{% block content %}
	<div class="home__hero">
		<div class="hero__inner">
			<h1 class="heading__hero">{{post.headline}}
				<span id="colorword">{{post.colorword}}</span>
			</h1>
			<div class="hero__meta">{{post.subhead}}</div>
			<div class="action">
				<a href="" class="action__blue">Connect</a>
			</div>
		</div>
	</div>
	<div class="flow">
		<div class="flow__inner">
			<h2>Streams Flow</h2>
			<div class="flow__inner__bar">
				<div id="dot1"></div>
				<div id="line1"></div>
				<div id="dot2"></div>
				<div id="line2"></div>
				<div id="dot3"></div>
				<div id="line3"></div>
				<div id="dot4"></div>
			</div>
			<div class="flow__inner__content">
				{% for item in post.meta('capabilities')%}
					<article>
						<h3>{{item.capability_title}}</h3>
						<p>{{item.capability_text}}</p>
					</article>
					{% endfor%}
				</div>
				<div class="button">
					<a href="" class="action__blue">Connect</a>
				</div>
			</div>
		</div>
		<div class="work">
			<div class="work__inner">
				<h2>Past Work</h2>
				<p>{{post.work_content}}</p>
				<div class="work__inner__slideshow">
					{% for item in post.meta('work_image')%}
						<article>
							<img src="{{Image(item.work_slide_img).src}}" alt="{{item.work_slide_img.alt}}">
							<h3>{{item.work_slide_title}}</h3>
						</article>
						{% endfor%}
					</div>
				</div>
			</div>
		{% endblock %}
