{% extends "base.twig" %}

{% block content %}
	<div class="content">
		{% include "templates/facilities.twig" %}
	</div>
	<div class="facility-us-list-inner">
		<div class="facility-city">
			<div class="facility-location-list">
				<article class="facility-location">
					<h2>{{post.facility_name}}</h2>
					<div class="content">
						<div class="dot {% for capability in post.capabilities %}{% if capability == 'corporate' %}{{capability}}{% endif %}{% endfor %}"></div>
						<div class="details">
							<p>{{post.address}}</p>
							<p>{{post.city|capitalize}},
								{{post.state|upper}}
								{{post.zip}}</p>
							<a href="{{post.directions}}">Get Directions</a>
							{% if post.mailing_address %}
								<br>
								<p>
									<span>Mailing Address:
									</span>
									{{post.mailing_address}}</p>
								<br>
							{% endif %}
							<p>
								<span>Phone:</span>
								{{post.contact_phone}}</p>
							{% if post.toll_free %}
								<p>
									<span>Toll Free:</span>
									{{post.toll_free}}</p>
							{% endif %}
							<p>
								<span>Email:</span>
								<a href="mailto:{{post.contact_email}}">{{post.contact_email}}</a>
							</p>
							{% if post.capabilities != 'corporate' %}
								{% if post.capabilities %}
									<p>
										<span>Capabilities:</span>
										{% for capability in post.capabilities %}
											{{capability|capitalize ~ (not loop.last ? ', ')}}
										{% endfor %}
									</p>
								{% endif %}
							{% endif %}
							{% if post.specialties %}
								<p>
									<span>Specialties:</span>
									{{post.specialties}}</p>
							{% endif %}
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
	{% include "templates/contact.twig" %}

{% endblock %}
