{% extends "base.twig" %}

{% block content %}
	<div class="content">
		<div class="careers__grid">

			<details class="career">
				<summary class="career__summary">
					<h2 class="career__title">{{ post.title }}</h2>
					<p class="career__location">{{ post.location }}</p>
					<p class="career__description">{{ post.description}}</p>
					<div class="career__details">
						{{ post.requirements|wpautop }}
					</div>
					<p class="career__compensation">{{ post.compensation }}</p>
				</summary>
			</details>
		</div>

		{# TODO: link to applications email #}
		<a href="" class="action__blue">Apply Now</a>
		<a href="/careers" class="action__blue">Back</a>
	</div>
	{% include "templates/contact.twig" %}

{% endblock %}
