{% extends "base.twig" %}

{% block content %}
	<div class="one_column">
		<h1 class="heading__hero">{{post.meta('headline')}}</h1>
		<div class="one_column_flexible_content">
			{% for i in post.get_field('one_column') %}
				<div class="one_column_row">
					{% if i.subheading %}
						<h3>{{i.subheading}}</h3>
					{% endif %}
					{% if i.image %}
						<img src="{{i.image.url}}" alt="{{i.image.alt}}">
					{% endif %}
					{% if i.content_block %}
						<p>{{i.content_block}}</p>
					{% endif %}
					{% if i.file %}

						<a href="{{i.file.url}}" download class="download__button action__green">Download
							{{i.file.title}}</a>

					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>


	<div class="green__contact">
		<div class="green__contact__inner">
			<div class="green__contact__inner__text">
				<h2>{{post.contact_heading}}</h2>
				<p>{{post.contact_text}}</p>
			</div>
			<div class="green__contact__inner__form">
				{% if post.form %}
					{{ post.form|shortcodes }}
				{% endif %}
			</div>
		</div>
	</div>


{% endblock %}
