<div class="product__main">
	<h1 class="heading__hero stack-md">{{ product.title }}</h1>
	<p class="stack-md">{{ product.description }}</p>

	<div class="product_hero_img">
		<img src="{{ Image(product.meta('image')).src }}" alt="">
	</div>

</div>
<div class="product_page_hero"></div>
<div class="content">
	{% if children %}

		<div class="products__list">
			{% for child in children %}
				<a href="{{ child.link }}" class="products__category">
					<img src="{{ Image(child.meta('image')).src }}" alt="">
					<div class="products__category--meta">{{ child.name }}</div>
				</a>
			{% endfor %}
		</div>
	{% endif %}
	<div class="sub_content">

		{% if product.meta('content') %}
			{{ product.meta('content') }}
		{% endif %}
	</div>
</div>
