<h1>{{ product.title }}</h1>
<h2>{{ product.descriptive_title }}</h2>
<p>{{ product.description }}</p>

<div class="content">
	{% if children %}
		<div class="products__list">
			{% for child in children %}
				<a href="{{ product.link }}" class="products__category">
				<img src="{{ Image(product.meta('image')).src }}" alt="">
				
				<div class="products__category--meta">{{ product.name }}</div>
			</a>
			{% endfor %}
		</div>
	{% endif %}

	{% if product.meta('content') %}
		{{ product.meta('content') }}
	{% endif %}
</div>
