<footer class="footer">
	<div class="footer__main">
		<div class="footer__contact">
			<p class="heading__md">{{ options.title }}</p>
			{% if options.address %}
				<p>{{ options.address }}</p>
			{% endif %}
			{% if options.contact_phone_numbers %}
				<ul class="with__text-subtle">
					{% for item in options.contact_phone_numbers %}
						<li>
							<a href="tel:{{ item.number }}">
								<strong>{{ item.type }}</strong>:
								{{ item.number|format_phone_number }}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
		<img class="footer__logo" src="/wp-content/uploads/FFLogoBlk.svg" alt="Future Foam Logo"/>

		<nav class="footer__nav" aria-label="footer navigation">
			<ul>
				{% for item in footer_nav_menu.get_items %}
					<li>
						<a class="action__link" href="{{ item.link }}">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
	<div class="footer__copy with__text-subtle">
		&copy;
		{{ now|date('Y') }}
		Future Foam
		<nav class="footer__copy--nav" aria-label="footer sub-navigation">
			<ul>
				{% for item in copy_nav_menu.get_items %}
					<li>
						<a class="action__link" href="{{ item.link }}">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</footer>
