{# Module requires access to options context object #}
{# Slider/Timeline Details #}
	<section class="history"> <div class="history__header">
		<h2 class="heading__lg">{{ options.history_title }}</h2>
		{# <p>{{ options.history_description }}</p> #}
	</div>
	<Section class="timeline-slider">
		{% for post in history %}
			<div class="timeline-slide next_slide">
				<h2 id="mobile-year">{{post.year}}</h2>
				<div class="timeline-lower">
					<div class="timeline-lower__inner timeline-home">
						<article>
							<h2 id="year">{{post.year}}</h2>
							<h3>{{post.title}}</h3>
							<p>{{post.description}}</p>
						</article>
					</div>
				</div>
			</div>
		{% endfor %}
	</Section>
</section>
{# chevrons #}

{# Wave Container #}

<div class="wavecontainer home_history">
	<div class="left">
		<i class="fas fa-chevron-left prev"></i>
	</div>
	<div class="right">
		<i class="fas fa-chevron-right next"></i>
	</div>
	<div class="dotcontainer">

		<i class="fas fa-circle dot" id="dot1"></i>
		<i class="fas fa-circle dot" id="dot2">

			<div class="vl"></div>
		</i>
		<i class="fas fa-circle dot" id="dot3"></i>
	</div>
	<div class="stationary_wave"></div>
	<div class="wave background_mask" id="wave"></div>
</div>
