<!doctype html>
<head>
	<meta charset="{{site.charset}}"/>
	<title>
		{% if wp_title %}
			{{ wp_title }}
			-
			{{ site.name }}
		{% else %}
			{{ site.name }}
		{% endif %}
	</title>
	<meta name="description" content="{{site.description}}">
	<link rel="stylesheet" href="{{site.theme.uri}}/style.css" type="text/css" media="screen"/>
	<link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="/wp-content/uploads/2022/03/favicon.ico" type="image/x-icon"/>
	<link rel="icon" sizes="192x192" href="/wp-content/uploads/2022/03/FFfavicon.png">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="pingback" href="{{site.pingback_url}}"/>
	<script src="https://kit.fontawesome.com/32e7856177.js" crossorigin="anonymous"></script>


	{{function('wp_head')}}
</head>
