{% extends "base.twig" %}

{% block content %}

	<div class="content">
		{{post.title}}
		<a href="{{post.location}}">Directions</a>
		{% for facility in facilities %}
			{{post.address}}
			{{post.contact_phone}}
			{{post.contact_email}}
		{% endfor %}
	</div>
{% endblock %}
